---
layout: default
title: Getting Started
---

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>Getting Started</h1>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7DL23L&placement=jsonresumeorg" id="_carbonads_js"></script>
      </div>
    </div>
  </div>
</header>
<div id="getting-started" class="container">
  <div class="row">
    <div class="col-sm-6">
      <section>
        <h2>Command Line Tool</h2>
        <p>We've built a CLI (Command Line Interface) which is supported by OSX, Linux and Windows. To create your own resume, install <code>resume-cli</code> from <b>npm</b>:</p>
        <p><code>npm install -g resume-cli</code></p>
        <h3>Exporting</h3>
        <p>The command line tool uses an ecosystem of modules that we've open sourced to convert your resume to different formats:</p>
        <p><code>resume export resume.pdf</code></p>
        <p><code>resume export resume.html</code></p>
        <h3>Import from LinkedIn</h3> 
        <p>One of our community members wrote a great Chrome extension to import your LinkedIn Profile. 
          <br /> 
          <br /> 
          <a target="_blank" href="https://chrome.google.com/webstore/detail/linkedin-json-resume-expo/jcaldklkmnjfpjaboilcejindjejbklh?hl=en">Download here</a>
        
        </p>
      </section>
    </div>
    <div class="col-sm-6">
      <section>
        <h2>Hosting</h2>
        <p>JSON Resume offers a hosting service that renders your <code>resume.json</code> to any theme you would like. <br /><br />
        e.g. <a href="https://registry.jsonresume.org/thomasdavis">http://registry.jsonresume.org/thomasdavis</a></p>
        <p>All you have to do is create a Gist on Github named <codfe>resume.json</code>. <br /> <br />
          e.g. <a href="https://gist.github.com/thomasdavis/c9dcfa1b37dec07fb2ee7f36d7278105">https://gist.github.com/thomasdavis/c9dcfa1b37dec07fb2ee7f36d7278105</a>
        </p>
        <p>Our hosting service will automatically detect this when you access <code>https://registry.jsonresume.org/{your_github_username}</code>
        </p>
        <p>To set a theme, just add to your <code>resume.json</code>;<br />
          <code>{ "meta": { "theme": "elegant" } }</code>
          
        </p>
        <br />
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JY58LT0ylBs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>
    </div>
  </div>
</div>